In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
import matplotlib.pyplot as plt
data = pd.read_csv('C:/Users/spr/Downloads/Titanic-dataset-master/Titanic-dataset-master/train.csv')
data.head()
# corr = data.corr()
# corr.style.background_gradient()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:

def handle_non_numerical_data(df):
    
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
            df[column] = list(map(convert_to_int,df[column]))

    return df

In [4]:

y_target = data['Survived']
# Y_target.reshape(len(Y_target),1)
x_train = data[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare','Embarked', 'Ticket']]

x_train = handle_non_numerical_data(x_train)
x_train.head()

C:\Users\spr\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Pclass   Age  Sex  SibSp  Parch     Fare  Embarked  Ticket
0       3  22.0    1      1      0   7.2500         3     625
1       1  38.0    0      1      0  71.2833         2     260
2       3  26.0    0      0      0   7.9250         3     467
3       1  35.0    0      1      0  53.1000         3      53
4       3  35.0    1      0      0   8.0500         3      88

In [5]:

fare = pd.DataFrame(x_train['Fare'])
# Normalizing
min_max_scaler = preprocessing.MinMaxScaler()
newfare = min_max_scaler.fit_transform(fare)
x_train['Fare'] = newfare
x_train

C:\Users\spr\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Pclass   Age  Sex  SibSp  Parch      Fare  Embarked  Ticket
0         3  22.0    1      1      0  0.014151         3     625
1         1  38.0    0      1      0  0.139136         2     260
2         3  26.0    0      0      0  0.015469         3     467
3         1  35.0    0      1      0  0.103644         3      53
4         3  35.0    1      0      0  0.015713         3      88
5         3   NaN    1      0      0  0.016510         1     468
6         1  54.0    1      0      0  0.101229         3      70
7         3   2.0    1      3      1  0.041136         3     365
8         3  27.0    0      0      2  0.021731         3     426
9         2  14.0    0      1      0  0.058694         2     269
10        3   4.0    0      1      1  0.032596         3     483
11        1  58.0    0      0      0  0.051822         3      74
12        3  20.0    1      0      0  0.015713         3     248
13        3  39.0    1      1      5  0.061045         3     210
14        3  14.0    0      0      0  0.015330         3      99
15        2  55.0    0      0      0  0.031230         3      39
16        3   2.0    1      4      1  0.056848         1     191
17        2   NaN    1      0      0  0.025374         3     138
18        3  31.0    0      1      0  0.035134         3     543
19        3   NaN    0      0      0  0.014102         2     268
20        2  35.0    1      0      0  0.050749         3     311
21        2  34.0    1      0      0  0.025374         3     292
22        3  15.0    0      0      0  0.015672         1     326
23        1  28.0    1      0      0  0.069291         3     140
24        3   8.0    0      3      1  0.041136         3     365
25        3  38.0    0      1      5  0.061264         3     334
26        3   NaN    1      0      0  0.014102         2     190
27        1  19.0    1      3      2  0.513342         3     602
28        3   NaN    0      0      0  0.015379         1     666
29        3   NaN    1      0      0  0.015412         3     579
..      ...   ...  ...    ...    ...       ...       ...     ...
861       2  21.0    1      1      0  0.022447         3     458
862       1  48.0    0      0      0  0.050610         3      84
863       3   NaN    0      8      2  0.135753         3      25
864       2  24.0    1      0      0  0.025374         3      96
865       2  42.0    0      0      0  0.025374         3     110
866       2  27.0    0      1      0  0.027050         2     163
867       1  31.0    1      0      0  0.098561         3      30
868       3   NaN    1      0      0  0.018543         3     462
869       3   4.0    1      1      1  0.021731         3     426
870       3  26.0    1      0      0  0.015412         3      47
871       1  47.0    0      1      1  0.102579         3     609
872       1  33.0    1      0      0  0.009759         3     652
873       3  47.0    1      0      0  0.017567         3     466
874       2  28.0    0      1      0  0.046845         2     100
875       3  15.0    0      0      0  0.014102         2     432
876       3  20.0    1      0      0  0.019218         3     354
877       3  19.0    1      0      0  0.015412         3     662
878       3   NaN    1      0      0  0.015412         3       3
879       1  56.0    0      0      1  0.162314         2     428
880       2  25.0    0      0      1  0.050749         3     204
881       3  33.0    1      0      0  0.015412         3      80
882       3  22.0    0      0      0  0.020527         3     439
883       2  28.0    1      0      0  0.020495         3     423
884       3  25.0    1      0      0  0.013761         3      48
885       3  39.0    0      0      5  0.056848         1     191
886       2  27.0    1      0      0  0.025374         3     310
887       1  19.0    0      0      0  0.058556         3     515
888       3   NaN    0      1      2  0.045771         3     398
889       1  26.0    1      0      0  0.058556         2     305
890       3  32.0    1      0      0  0.015127         1     597

[891 rows x 8 columns]

In [6]:
x_train.isnull().sum()

Pclass        0
Age         177
Sex           0
SibSp         0
Parch         0
Fare          0
Embarked      0
Ticket        0
dtype: int64

In [7]:
# Fill the NAN values with the median values in the datasets
x_train['Age'] = x_train['Age'].fillna(x_train['Age'].median())
print("Number of NULL values" , x_train['Age'].isnull().sum())
print(x_train.head(3))

Number of NULL values 0
   Pclass   Age  Sex  SibSp  Parch      Fare  Embarked  Ticket
0       3  22.0    1      1      0  0.014151         3     625
1       1  38.0    0      1      0  0.139136         2     260
2       3  26.0    0      0      0  0.015469         3     467

C:\Users\spr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:

x_train['Sex'] = x_train['Sex'].replace('male', 0)
x_train['Sex'] = x_train['Sex'].replace('female', 1)
# print(type(x_train))
corr = x_train.corr()
corr.style.background_gradient()

C:\Users\spr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\spr\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
def plot_corr(df,size=10):


    corr = df.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr)
    plt.xticks(range(len(corr.columns)), corr.columns);
    plt.yticks(range(len(corr.columns)), corr.columns);
# plot_corr(x_train)
x_train.corr()
corr.style.background_gradient()

In [10]:
# Dividing the data into train and test data set
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_target, test_size = 0.4, random_state = 40)

In [11]:
clf = RandomForestClassifier()
clf.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
print(clf.predict(X_test))
print("Accuracy: ",clf.score(X_test, Y_test))

[0 0 1 1 1 0 0 0 0 0 1 0 0 1 0 1 1 1 0 0 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 1 0 1 1 0 0 0 0 1 0 0 1 1 0 0 1 1 0 0
 0 0 0 1 0 1 1 0 1 0 1 1 1 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 0 0 1 0 1 1 1 1 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0
 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 1
 1 1 0 0 0 1 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 1 1 1
 0 1 0 1 1 0 0 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0
 1 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0 1 0 0
 0 0 0 0 1 0 1 1 0 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 1 1 0 0 0 1
 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 1 1 1 1 0 1 0]
Accuracy:  0.8123249299719888

In [14]:
## Testing the model.
test_data = pd.read_csv('C:/Users/spr/Downloads/Titanic-dataset-master/Titanic-dataset-master/test.csv')
test_data.head(3)
# test_data.isnull().sum()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q